<!-- templates/aboutus.html -->

{% extends "base.html" %}

{% block content %}

<div class="max-w-4xl mx-auto">

    <div class="bg-slate-900 border border-slate-800 rounded-3xl p-8">

        <h1 class="text-5xl font-black text-green-400">
            About GreenSense
        </h1>

        <p class="mt-8 text-slate-300 text-lg leading-relaxed">

            GreenSense is a Smart Green House Monitoring IoT platform
            designed for modern agriculture and greenhouse environments.

            The system collects real-time environmental sensor data
            including temperature, humidity, soil moisture and rain detection.

            GreenSense helps monitor agricultural conditions using
            'Arduino Nano 33 IoT' based IoT devices with cloud-connected dashboards.

        </p>

        <p>
            
        </p>

    </div>

</div>

{% endblock %}